*{
  margin: 0;
  padding: 0;
}


:root{
  --PRIMARYCOLOR:#0bd50b;
}
.loading{
  justify-self: center;
  margin-top: 20%;
}

#root{
display: flex;
flex-direction: column;
height: 100%;
align-items: center;
row-gap: 20px;
}

.each-company-div{
/* background-color: #0bd50b; */
max-width: 80%;
width: 1000px;
margin-bottom: 20px;
}
.each-company{
  padding: 20px;
  display: flex;
  gap: 10px;
 background-color: #ebe3e3;
}
.btn-container{
  display: flex;
  flex-direction: column;
}
.btn-container button{
  margin-top: 10px;
  max-width: 100px;
  padding: 5px 5px;
  background-color: var(--PRIMARYCOLOR);
  color: white;
  border: none;
  border-radius: 5px;
  font-weight: 700;
  cursor: pointer;
  
}
span{
  background-color: #b6afaf;
  display: inline-block;
  padding: 5px 3px;
  font-weight: 500;
  color: white;
  border-radius: 5px;
}

.duty-div{
  display: flex;
}

.duty-div svg{
width: 40px;
margin-right: 20px;
color: var(--PRIMARYCOLOR);
}

@media screen and (max-width:500px) {
  .btn-container {
      display: flex;
    flex-direction: row;
    justify-content: space-between;
    }
 
  .each-company {
      padding: 5px;
      display: flex;
      flex-direction: column;
      gap: 10px;
     
    }
        .btn-container button {
          margin-top: 10px;
          max-width: 100px;
          padding: 5px 5px;
          background-color: var(--PRIMARYCOLOR);
          color: white;
          border: none;
          border-radius: 5px;
          font-size: 0.5rem;
          font-weight: 100;
          cursor: pointer;
    
        }
}